@import '../../shared/mixin.scss';

nav {
    position: absolute;
    top: 0;
    left: 0;
    @include dFlex($js: space-between);
    max-width: 1440px;
    width: 100vw;
    height: 96px;
    padding: 0 96px;
    box-sizing: border-box;
    font-family: 'fira code';
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 32px;

    >.navbar-language-box {
        @include position($pos: relative);
        width: 84px;
        height: 28px;
        background-color: rgba(255, 255, 255, 0);
        border: solid 1px #3dcfb6;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        @include dFlex();
        font-size: 16px;

        &:hover {
            border: solid 1px white;
        }

        >button {
            width: 40px;
            height: 28px;
            color: #337c6f;
            cursor: pointer;
            border: none;
            background-color: #337c6f00;

            &:hover {
                color: #3dcfb6;
            }
        }
    }
}

.navbar-links-box {
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;

    >img {
        position: absolute;
        transition: all 125ms ease-in-out;
    }

    >.navbar-about-me {
        left: 0;
    }
    >.navbar-about-me-hover {
        bottom: -21px;
        left: 0;
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }
    >.navbar-skills {
        left: 120px;
    }
    >.navbar-skills-hover {
        left: 120px;
        bottom: -21px;
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }
    .navbar-projects {
        left: 215px;
    }
    >.navbar-projects-hover {
        left: 215px;
        bottom: -21px;
        opacity: 0;
        &:hover {
            opacity: 1;
        }
    }
}

.navbar-language-switch {
    position: absolute;
    top: 0;
    left: 0;
    @include dFlex();
    width: 42px;
    height: 28px;
    border-radius: 100px;
    background-color: #3dcfb6;
    transition: all 125ms ease-in-out;
}

.navbar-language-slider {
    transform: translateX(100%);
}