@import '../shared/general.scss';
@import '../shared/variables.scss';

.references-bg {
    background-color: $gray;
    width: 1440px;
    margin: auto;
}

.references {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 0;
    gap: 48px;

    >h2 {
        font-family: 'fira code';
        font-size: 36px;
    }
}

.references-overview {
    display: flex;
    gap: 48px;
    // background-color: linear-gradient(90deg, #1C1C1C, rgba(28, 28, 28, 0), rgba(28, 28, 28, 0), #1C1C1C);

    >.references-feedback {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 550px;
        height: 150px;
        background-color: #2B3A37;
        border: solid 1px $green;
        padding: 48px 32px;
        border-radius: 30px;

        >div {
            display: flex;
            justify-content: end;
            align-items: center;

            >.references-line {
                flex: 1;
                height: 2px;
                margin-right: 24px;
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}

.references-navbar {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;

    >.references-left-hover {
        position: absolute;
        left: 4px;
        opacity: 0;
        cursor: pointer;
        transition: all 125ms ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    >.references-right-hover {
        position: absolute;
        right: 4px;
        opacity: 0;
        cursor: pointer;
        transition: all 125ms ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    >div {
        display: flex;
        gap: 16px;

        >.references-nav-point {
            width: 8px;
            height: 8px;
            border-radius: 10px;
            background-color: white;
        }
    }
}

.feedback-highlighted {
    background-color: #26524B !important;
    transform: scale(1.05) !important;
}

.references-nav-point-highlighted {
    background-color: $green !important;
}