@import '../shared/general.scss';
@import '../shared/variables.scss';

.references-bg {
    background-color: $gray;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.references {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    overflow-x: hidden;

    >h2 {
        font-family: 'fira code';
        font-size: 36px;
    }
}

.references-overview-box {
    position: relative;
    display: flex;
    justify-content: center;
}

.references-gradient {
    max-width: 1440px;
    width: 90vw;
    height: 250px;
    position: absolute;
    z-index: 4;
    background: linear-gradient(90deg, #1C1C1C 0%, rgba(28, 28, 28, 0) 25%, rgba(28, 28, 28, 0) 75%, #1C1C1C 100%);
}

.references-overview {
    display: flex;
    gap: 48px;
    transition: all 125ms ease-in-out;

    >.references-feedback {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 550px;
        height: 150px;
        background-color: #2B3A37;
        border: solid 1px $green;
        padding: 48px 32px;
        border-radius: 30px;

        >div {
            display: flex;
            justify-content: end;
            align-items: center;

            >.references-line {
                flex: 1;
                height: 2px;
                margin-right: 24px;
                background-color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}

.references-navbar {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;

    >.references-left-hover {
        position: absolute;
        left: 4px;
        opacity: 0;
        cursor: pointer;
        transition: all 125ms ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    >.references-right-hover {
        position: absolute;
        right: 4px;
        opacity: 0;
        cursor: pointer;
        transition: all 125ms ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    >div {
        display: flex;
        gap: 16px;

        >.references-nav-point {
            width: 8px;
            height: 8px;
            border-radius: 10px;
            background-color: white;
        }
    }
}

.feedback-highlighted {
    background-color: #26524B !important;
    transform: scale(1.05) !important;
}

.references-nav-point-highlighted {
    background-color: $green !important;
}

.move-left {
    transition: all 125ms ease-in-out;
    transform: translateX(664px);
}

.move-right {
    transition: all 125ms ease-in-out;
    transform: translateX(-664px);
}

.move-center {
    transition: all 125ms ease-in-out;
    transform: translateX(0%);
}