<section class="references-bg section-bg">
    <div class="references">
        <h2>What my colleagues say about me</h2>
        <div class="references-overview-box">
            <div class="references-gradient"></div>
            <div class="references-overview" [class.move-left]="this.sliderLeft" [class.move-right]="this.sliderRight"
            [class.move-center]="this.sliderCenter">
                @for (r of references; track r; let i = $index) {
                <div class="references-feedback description-text">
                    <p>{{ r.feedback }}</p>
                    <div>
                        <div class="references-line"></div><span>{{ r.autor }}</span>
                    </div>
                </div>
                }
                @for (r of references; track r; let i = $index) {
                <div [class.feedback-highlighted]="references[i].highlighted"
                    class="references-feedback description-text">
                    <p>{{ r.feedback }}</p>
                    <div>
                        <div class="references-line"></div><span>{{ r.autor }}</span>
                    </div>
                </div>
                }
                @for (r of references; track r; let i = $index) {
                <div class="references-feedback description-text">
                    <p>{{ r.feedback }}</p>
                    <div>
                        <div class="references-line"></div><span>{{ r.autor }}</span>
                    </div>
                </div>
                }
            </div>
        </div>
        <div class="references-navbar">
            <img class="references-left-hover" (click)="setHighlight('-')"
                src="../../assets/img/references/left_hover.png">
            <img src="../../assets/img/references/left.png">
            <div>
                @for (n of references; track n; let i = $index) {
                <div [class.references-nav-point-highlighted]="references[i].highlighted" class="references-nav-point">
                </div>
                }
            </div>
            <img class="references-right-hover" (click)="setHighlight('+')"
                src="../../assets/img/references/right_hover.png">
            <img src="../../assets/img/references/right.png">
        </div>
    </div>
</section>