<section id="about-me" class="about-me-bg section-bg">
    <div class="about-me">
        <div class="about-me-img">
            <img class="about-me-profile-img-bg" src="../../assets/img/about_me/img_bg.png" alt="">
            <img class="about-me-profile-img" src="../../assets/img/about_me/bsp_img.png">
        </div>
        <div class="about-me-description description-box">
            <h3>Who I Am</h3>
            <div class="about-me-text description-text-box">
                <h1>About me</h1>
                <p class="description-text">
                    Hi, i'm a german speaking Fullstack Developer based in
                    Dresden. Motivated by the limitless opportunities within IT. I
                    am excited about crafting visually captivating and intuitive
                    websites and applications.
                </p>
                <div class="about-me-details description-details">
                    <div>
                        <img src="../../assets/img/about_me/location.png">
                        <p>
                            Flexible in terms of working environments, i can work
                            effectively both on-site in Dresden and remotely.
                        </p>
                    </div>
                    <div>
                        <img src="../../assets/img/about_me/cognition.png">
                        <p>
                            I am open-minded and always looking for personal
                            challanges to constantly improve my knownledge and
                            skills.
                        </p>
                    </div>
                    <div>
                        <img src="../../assets/img/about_me/quality.png">
                        <p>
                            In my profession, programming isn't just about
                            wiriting code; it's a creative form of problem-solving, i
                            take pride in my ability to distill complex technical
                            challanges into simple, user-friendly solutions. This
                            way, i help you achieve your goals and bring your
                            visions to life.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>