<section id="about-me" class="about-me-bg section-bg">
    <div class="about-me">
        <div class="about-me-img">
            <img class="about-me-profile-img-bg" src="./assets/img/about_me/img_bg.png" alt="profile image">
            <img class="about-me-profile-img" src="./assets/img/about_me/bsp_img.png" alt="profile background">
        </div>
        <div class="about-me-description description-box">
            <h3>{{ this.setPath().ABOUTME.H3 }}</h3>
            <div class="about-me-text description-text-box">
                <h1>{{ this.setPath().ABOUTME.H1 }}</h1>
                <p class="description-text">
                    {{ this.setPath().ABOUTME.TEXT1 }}
                </p>
                <div class="about-me-details description-details">
                    <div>
                        <img src="./assets/img/about_me/location.png" alt="location info">
                        <p>
                            {{ this.setPath().ABOUTME.TEXT2 }}
                        </p>
                    </div>
                    <div>
                        <img src="./assets/img/about_me/cognition.png" alt="current work">
                        <p>
                            {{ this.setPath().ABOUTME.TEXT3 }}
                        </p>
                    </div>
                    <div>
                        <img src="./assets/img/about_me/quality.png" alt="personal abitions">
                        <p>
                            {{ this.setPath().ABOUTME.TEXT4 }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>