<section id="about-the-fold" class="above-the-fold-bg section_bg">
    <app-header class="navbar"></app-header>
    <div class="above-the-fold-content">
        <div class="headlines">
            <h2>Frontend Developer</h2>
            <h1>Vincent Görner</h1>
            <div class="atf-shortcut">
                <a href="#projects" class="btn"><span>Check my work</span></a>
                <a href="#contact-me" class="btn"><span>Contact me</span></a>
            </div>
        </div>
        <div class="clue-content">
            <div class="clue-scroll">
                <a class="clue-scroll-box" href="#about-me">
                    <img src="../../../assets/img/atf_section/arrow_down.png">
                </a>
                <div class="clue-line-green"></div>
            </div>
            <div class="clue-contact">
                
                <a class="clue-mail" href="mailto:vincent.goerner@web.de">vincent.goerner&#64;web.de</a>
                <div class="clue-img-box">
                    <a class="clue-mobile-mail" href="mailto:vincent.goerner@web.de">
                        <img class="clue-mobile-mail-hover" src="./assets/img/atf_section/mobile_mail_hover.png" alt="mobile-mail-hover">
                        <img src="./assets/img/atf_section/mobile_mail.png" alt="mobile-mail">
                    </a>
                    <a href="https://github.com/A1exi0sD4rc">
                        <img class="clue-github-hover" src="../../assets/img/atf_section/github_hover.png">
                        <img class="clue-github" src="../../assets/img/atf_section/github.png">
                    </a>
                    <a href="">
                        <img class="clue-linkedin-hover" src="../../assets/img/atf_section/linkedin_hover.png">
                        <img class="clue-linkedin" src="../../assets/img/atf_section/linkedin.png">
                    </a>
                </div>
                <div class="clue-line-white"></div>
            </div>
        </div>
    </div>
    <div class="clue-marquee">
        <div>
            @for (t of [1,2,3,4,5,6,7,8,9]; track $index) {
            <div class="clue-marquee-point-box">
                <div class="clue-marquee-point"></div>
            </div>
            <span>Available for remote work</span>
            <div class="clue-marquee-point-box">
                <div class="clue-marquee-point"></div>
            </div>
            <span>Frontend Developer</span>
            <div class="clue-marquee-point-box">
                <div class="clue-marquee-point"></div>
            </div>
            <span>Based in Dresden</span>
            <div class="clue-marquee-point-box">
                <div class="clue-marquee-point"></div>
            </div>
            <span>Open for learning</span>
            }
        </div>
    </div>
</section>