<section id="about-the-fold" class="section-bg above-the-fold-bg">
    <div class="above-the-fold-content">
        <app-header class="navbar"></app-header>
        <div class="headlines">
            <h2>Frontend Developer</h2>
            <h1>Vincent Görner</h1>
            <div class="atf-shortcut">
                <marquee (mouseover)="startMarquee('work')" (mouseout)="stopMarquee()" [scrollAmount]="marqueSpeedWork">Check my work</marquee>
                <marquee (mouseover)="startMarquee('contact')" (mouseout)="stopMarquee()" [scrollAmount]="marqueSpeedContact">Contact me</marquee>
            </div>
        </div>
        <app-clue-box></app-clue-box>
    </div>
</section>