@import '../shared/mixin.scss';
@import '../shared/variables.scss';

.above-the-fold-bg {
    @include dFlex();
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/img/atf_section/background.png");
    background-size: cover;
    overflow: hidden;
}

.above-the-fold-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include position($pos: relative);
    max-width: 1440px;
    width: 100vw;
    height: 100vh;
}

.headlines {
    @include dFlex();
    flex-direction: column;

    >h1 {
        color: white;
        font-family: 'karla';
        font-size: 128px;
        margin-bottom: 50px;
    }

    >h2 {
        color: white;
        font-family: 'fira code';
        font-size: 40px;
        font-weight: 400;
    }
}

.atf-shortcut {
    @include dFlex($js: space-between);
    height: 48px;
    gap: 48px;
    z-index: 2;

    >marquee {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 48px;
        border: solid 1px #FFFFFF;
        border-radius: 100px;
        direction: left;
        background-color: #ffffff00;
        color: white;
        font-family: 'karla';
        font-size: 18px;
        padding-left: 24px;
        padding-right: 24px;
        cursor: pointer;

        &:hover {
            color: $green;
            border: solid 1px $green;
        }
    }
}