@import '../shared/mixin.scss';
@import '../shared/general.scss';

.above-the-fold-bg {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, #1c1c1c 40%, #08463b);
    padding: 0 96px;
    box-sizing: border-box;
}

.above-the-fold-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 1440px;
    width: 100vw;
    height: 100vh;
}

.headlines {
    display: flex;
    align-items: center;
    flex-direction: column;

    >h1 {
        color: white;
        font-family: 'karla';
        font-size: 128px;
        margin-bottom: 50px;
    }

    >h2 {
        color: white;
        font-family: 'fira code';
        font-size: 40px;
        font-weight: 400;
    }
}

.atf-shortcut {
    @include dFlex($js: space-between);
    height: 48px;
    gap: 48px;
    z-index: 2;

    >a {
        display: flex;
        align-items: center;
        overflow-x: hidden;
        text-decoration: none;

        span {
            transition: all 125ms ease-in-out;
        }

        &:hover {
            span {
                transform: translateX(-200%);
            }
        }
    }
}



.clue-marquee {
    width: calc(100vw + 10px);
    position: absolute;
    left: 0;
    bottom: 50px;
    right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    transform: rotate(-3deg) translateX(-10px);
    padding: 10px 0;
    font-family: 'karla';
    font-size: 32px;
    color: $green;
    background: #FFFFFF1F;
    backdrop-filter: blur(2.5px);

    >div {
        display: flex;
        align-items: center;
        white-space: nowrap;
        animation: scrollText 300s linear infinite;

        >.clue-marquee-point-box {
            .clue-marquee-point {
                width: 8px;
                height: 8px;
                background-color: $green;
                border-radius: 10px;
                margin-left: 80px;
                margin-right: 80px;
            }
        }
    }
}

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}