@import '../shared/mixin.scss';
@import '../shared/general.scss';

.above-the-fold-bg {
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, #1c1c1c 40%, #08463b);
    box-sizing: border-box;
    padding: 0 96px;
}

.above-the-fold-content {
    position: relative;
    max-width: 1440px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headlines {
    display: flex;
    align-items: center;
    flex-direction: column;

    >h1 {
        color: white;
        font-family: 'karla';
        font-size: 128px;
        margin-bottom: 50px;
    }

    >h2 {
        color: white;
        font-family: 'fira code';
        font-size: 40px;
        font-weight: 400;
    }
}

.atf-shortcut {
    @include dFlex($js: space-between);
    height: 48px;
    gap: 48px;
    z-index: 2;

    >a {
        display: flex;
        align-items: center;
        overflow-x: hidden;
        text-decoration: none;
        cursor: pointer;

        span {
            cursor: pointer;
            transition: all 125ms ease-in-out;
        }

        &:hover {
            span {
                animation: moveText 3s linear infinite;
            }
        }
    }
}

@keyframes moveText {
    0% {
        transform: translateX(0);
    }

    25% {
        opacity: 1;
    }

    50% {
        transform: translateX(-150%);
        opacity: 0;
    }

    75% {
        transform: translateX(150%);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.clue-marquee {
    width: calc(100vw + 10px);
    position: absolute;
    left: 0;
    bottom: 50px;
    right: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    transform: rotate(-2deg) translateX(-10px);
    padding: 10px 0;
    font-family: 'karla';
    font-size: 32px;
    color: $green;
    background: #FFFFFF1F;
    backdrop-filter: blur(2.5px);

    >div {
        display: flex;
        align-items: center;
        white-space: nowrap;
        animation: scrollText 300s linear infinite;

        >.clue-marquee-point-box {
            .clue-marquee-point {
                width: 8px;
                height: 8px;
                background-color: $green;
                border-radius: 10px;
                margin-left: 80px;
                margin-right: 80px;
            }
        }
    }
}

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.clue-content {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
}

.clue-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32px;
    gap: 24px;

    >.clue-scroll-box {
        width: 30px;
        height: 48px;
        border-radius: 32px;
        border: solid 1px $green;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        >img {
            width: 18px;
            height: 20px;
            cursor: pointer;
            animation: bounce 1s ease-in-out infinite;
        }
    }

    >.clue-line-green {
        width: 1px;
        height: 240px;
        background-color: $green;
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(6px);
    }
}

.clue-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32px;
    gap: 16px;

    .clue-mail {
        transform: rotate(-90deg);
        margin-bottom: 90px;
        text-decoration: none;
        color: white;
        font-family: 'karla';
        transition: all 125ms ease-in-out;
        cursor: pointer;

        &:hover {
            color: $green;
        }
    }

    >.clue-line-white {
        width: 1px;
        height: 180px;
        background-color: white;
        margin-top: 16px;
    }
}

.clue-img-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    gap: 8px;

    >.clue-mobile-mail {
        display: none;
        position: relative;

        >.clue-mobile-mail-hover {
            position: absolute;
            opacity: 0;
            transition: all 125ms ease-in-out;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }

    a {
        position: relative;
    }

    .clue-github {
        cursor: pointer;
    }

    .clue-github-hover {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
        transition: all 125ms ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    .clue-linkedin {
        cursor: pointer;
    }

    .clue-linkedin-hover {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
        transition: all 125ms ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}


/* media compatibility */

@media (max-width: 1200px) {

    .above-the-fold-bg {
        padding: 0 80px;
    }
}

@media (max-width: 1200px) {

    .headlines {
        h1 {
            font-size: 96px;
        }
        h2 {
            font-size: 32px;
        }
    }
}

@media (max-width: 1000px) {

    .above-the-fold-bg {
        padding: 0 48px;
    }

    .headlines {
        h1 {
            font-size: 80px;
        }
        h2 {
            font-size: 24px;
        }
    }

    .clue-contact {
        .clue-mail {
            display: none;
        }

        .clue-mobile-mail {
            display: flex;
        }

        .clue-img-box {
            height: fit-content;
        }
    }
}

@media (max-width: 700px) {

    .above-the-fold-bg {
        padding: 0 16px;
    }

    .headlines {
        h1 {
            font-size: 62px;
        }
        h2 {
            font-size: 24px;
        }
    }

    .btn {
        height: 40px;
        padding: 0 16px;
    }
}

@media (max-width: 500px) {

    .above-the-fold-bg {
        padding: 0 16px;
    }

    .headlines {
        h1 {
            font-size: 32px;
            margin-bottom: 14px;
        }
        h2 {
            font-size: 18px;
        }
    }

    .btn {
        height: 36px;
        padding: 0 4px;
        font-size: 16px;
    }

    .clue-scroll {
        gap: 16px;

        >.clue-line-green {
            width: 1px;
            height: 180px;
            background-color: $green;
        }
    }

    .clue-contact {
        gap: 8px;

        >.clue-line-white {
            height: 115px;
        }
    }
}