<section class="" [class.nav-scroll-effect]="isScrolled">
    <nav>
        <a class="header-mobile-logo-box" href="https://vincent-goerner.developerakademie.net/angular-projects/portfolio/">
            <img class="header-mobile-logo-hovered" src="./assets/img/header/mobile_logo_hover.png">        
            <img class="header-mobile_logo-img" src="./assets/img/header/mobile_logo.png">
        </a>
        <div class="navbar-links">
            <div class="navbar-language-box">
                <div class="navbar-language-switch" [class.navbar-language-slider]="!changeLanguage">{{ language }}</div>
                <button (click)="switchLanguage()" class="navbar-en-btn">EN</button>
                <button (click)="switchLanguage()" class="navbar-de-btn">DE</button>
            </div>
            <div class="navbar-links-box">
                <a href="#about-me">
                    <img class="navbar-links-hovered" src="./assets/img/atf_section/about_hover.png">
                    <img src="./assets/img/atf_section/about.png">
                </a>
                <a href="#skills">
                    <img class="navbar-links-hovered" src="./assets/img/atf_section/skills_hover.png">
                    <img src="./assets/img/atf_section/skills.png">
                </a>
                <a href="#projects">
                    <img class="navbar-links-hovered" src="../../../assets/img/atf_section/projects_hover.png">
                    <img src="./assets/img/atf_section/projects.png">                  
                </a>          
            </div>
        </div>
    
        <div class="header-logo-mobile-box">
            <a class="header-logo-box" href="https://vincent-goerner.developerakademie.net/angular-projects/portfolio/">
                <img class="header-logo-hovered" src="./assets/img/header/logo_hover.png">        
                <img class="header-logo-img" src="./assets/img/header/logo.png">
            </a>
            <div class="header-mobile-menu" (click)="showMobileMenu()">
                <img class="header-mobile-menu-hover" src="./assets/img/header/mobile_menu_hover.png" alt="mobile-menu-hover">
                <img src="./assets/img/header/mobile_menu.png" alt="mobile-menu">
            </div>  
            <div class="header-mobile-links" [class.opacity-full]="showMenu">
                <div class="navbar-language-box">
                    <div class="navbar-language-switch" [class.navbar-language-slider]="!changeLanguage">{{ language }}</div>
                    <button (click)="switchLanguage()" class="navbar-en-btn">EN</button>
                    <button (click)="switchLanguage()" class="navbar-de-btn">DE</button>
                </div>
                <a href="#about-me">
                    <img class="navbar-links-hovered" src="./assets/img/atf_section/about_hover.png">
                    <img src="./assets/img/atf_section/about.png">
                </a>
                <a href="#skills">
                    <img class="navbar-links-hovered" src="./assets/img/atf_section/skills_hover.png">
                    <img src="./assets/img/atf_section/skills.png">
                </a>
                <a href="#projects">
                    <img class="navbar-links-hovered" src="../../../assets/img/atf_section/projects_hover.png">
                    <img src="./assets/img/atf_section/projects.png">                  
                </a>   
            </div>
        </div>
    </nav>
</section>