@import '../../shared/mixin.scss';
@import '../../shared/variables.scss';

.clue-content {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    max-width: 1440px;
    width: 100vw;
}

.clue-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32px;
    gap: 24px;

    >.clue-scroll-box {
        width: 30px;
        height: 48px;
        border-radius: 32px;
        border: solid 1px $green;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        >img {
            width: 18px;
            height: 20px;
            animation: bounce 1s ease-in-out infinite;
        }
    }

    >.clue-line-green {
        width: 1px;
        height: 240px;
        background-color: $green;
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(6px);
    }
}

.clue-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32px;
    gap: 16px;

    >a {
        transform: rotate(-90deg);
        margin-bottom: 90px;
        text-decoration: none;
        color: white;
        font-family: 'karla';
        transition: all 125ms ease-in-out;
        cursor: pointer;

        &:hover {
            color: $green;
        }
    }

    >.clue-line-white {
        width: 1px;
        height: 180px;
        background-color: white;
        margin-top: 16px;
    }
}

.clue-img-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    gap: 8px;

    a {
        position: relative;
    }

    .clue-github {
        cursor: pointer;
    }

    .clue-github-hover {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
        transition: all 125ms ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    .clue-linkedin {
        cursor: pointer;
    }

    .clue-linkedin-hover {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
        transition: all 125ms ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}