<div class="clue-box">
    <div class="clue-scroll">
        <a class="clue-scroll-box" href="#about-me">
            <img src="../../../assets/img/atf_section/arrow_down.png">
        </a>
        <div class="clue-line-green"></div>
    </div>
    <marquee [scrollAmount]="7" class="clue-marquee">
        <div>
            @for (t of [1,2,3]; track $index) {
                <div class="clue-marquee-point-box">
                    <div class="clue-marquee-point"></div>
                </div>
                <span>Available for remote work</span>
                <div class="clue-marquee-point-box">
                    <div class="clue-marquee-point"></div>
                </div>
                <span>Frontend Developer</span>
                <div class="clue-marquee-point-box">
                    <div class="clue-marquee-point"></div>
                </div>
                <span>Based in Dresden</span>
                <div class="clue-marquee-point-box">
                    <div class="clue-marquee-point"></div>
                </div>
                <span>Open for learning</span>
            }
        </div>
    </marquee>
    <div class="clue-contact">
        <a href="#">v.goerner&#64;web.de</a>
        <div class="clue-img-box">
            <img class="clue-github" src="../../../assets/img/atf_section/github.png">
            <img class="clue-github-hover" src="../../../assets/img/atf_section/github_hover.png">
            <img class="clue-linkedin" src="../../../assets/img/atf_section/linkedin.png">
            <img class="clue-linkedin-hover" src="../../../assets/img/atf_section/linkedin_hover.png">
        </div>
        <div class="clue-line-white"></div>
    </div>
</div>