@import '../../shared/mixin.scss';
@import '../../shared/variables.scss';

.clue-box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 1440px;
    width: 100vw;
    padding: 0 72px;
    box-sizing: border-box;
}

.clue-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32px;
    gap: 24px;

    >.clue-scroll-box {
        width: 30px;
        height: 48px;
        border-radius: 32px;
        border: solid 1px $green;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        >img {
            width: 18px;
            height: 20px;
            animation: bounce 1s ease-in-out infinite;
        }
    }

    >.clue-line-green {
        width: 1px;
        height: 240px;
        background-color: $green;
    }
}

@keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(6px);
    }
  }

.clue-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32px;
    gap: 16px;

    >a {
        transform: rotate(-90deg);
        margin-bottom: 70px;
        text-decoration: none;
        color: white;
        font-family: 'karla';
        transition: all 125ms ease-in-out;

        &:hover {
            color: $green;
        }
    }

    >.clue-line-white {
        width: 1px;
        height: 180px;
        background-color: white;
        margin-top: 16px;
    }
}

.clue-img-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;

    >.clue-github {
        position: absolute;
        top: 0;
        cursor: pointer;
    }

    >.clue-github-hover {
        position: absolute;
        top: 0;
        right: -28px;
        opacity: 0;
        cursor: pointer;
        transition: all 125ms ease-in-out;
        
        &:hover {
            opacity: 1;
        }
    }
    
    >.clue-linkedin {
        position: absolute;
        bottom: 0;
        cursor: pointer;
    }

    >.clue-linkedin-hover {
        position: absolute;
        bottom: 0;
        right: -28px;
        opacity: 0;
        cursor: pointer;
        transition: all 125ms ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}

.clue-marquee {
    width: calc(100vw + 10px);
    position: absolute;
    left: 0;
    bottom: 45px;
    right: 0;
    overflow: hidden;
    transform: rotate(-3deg) translateX(-10px);
    padding: 10px 0;
    font-family: 'karla';
    font-size: 32px;
    color: $green;
    background: #FFFFFF1F;
    backdrop-filter: blur(2.5px);

    >div {
        display: flex;
        align-items: center;

        >.clue-marquee-point-box {
    
            .clue-marquee-point {
                width: 8px;
                height: 8px;
                background-color: $green;
                border-radius: 10px;
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }
}