<div class="clue-box">
    <div class="clue-scroll">
        <img class="clue-scroll-animation" src="../../../assets/img/mouse.png">
        <div class="clue-line-green"></div>
    </div>
    <div class="clue-contact">
        <a href="#">v.goerner&#64;web.de</a>
        <div class="clue-img-box">
            <img class="clue-github" src="../../../assets/img/github.png">
            <img class="clue-github-hover" src="../../../assets/img/github_hover.png">
            <img class="clue-linkedin" src="../../../assets/img/linkedin.png">
            <img class="clue-linkedin-hover" src="../../../assets/img/linkedin_hover.png">
        </div>
        <div class="clue-line-white"></div>
    </div>
</div>
