@import '../../shared/mixin.scss';
@import '../../shared/variables.scss';

.clue-box {
    @include dFlex($js: space-between, $ai: end);
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 1440px;
    width: 100vw;
    padding: 0 72px;
    box-sizing: border-box;
}

.clue-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32px;
    gap: 24px;

    >.clue-line-green {
        width: 1px;
        height: 240px;
        background-color: $green;
    }
}

.clue-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32px;
    gap: 16px;

    >a {
        transform: rotate(-90deg);
        margin-bottom: 70px;
        text-decoration: none;
        color: white;
        font-family: 'karla';
        transition: all 125ms ease-in-out;

        &:hover {
            color: $green;
        }
    }

    >.clue-line-white {
        width: 1px;
        height: 180px;
        background-color: white;
        margin-top: 16px;
    }
}

.clue-img-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;

    >.clue-github {
        position: absolute;
        top: 0;
        cursor: pointer;
    }

    >.clue-github-hover {
        position: absolute;
        top: 0;
        right: -28px;
        opacity: 0;
        cursor: pointer;
        transition: all 125ms ease-in-out;
        
        &:hover {
            opacity: 1;
        }
    }
    
    >.clue-linkedin {
        position: absolute;
        bottom: 0;
        cursor: pointer;
    }

    >.clue-linkedin-hover {
        position: absolute;
        bottom: 0;
        right: -28px;
        opacity: 0;
        cursor: pointer;
        transition: all 125ms ease-in-out;

        &:hover {
            opacity: 1;
        }
    }
}