<div class="clue-box">
    <div class="clue-scroll">
        <img class="clue-scroll-animation" src="../../../assets/img/mouse.png">
        <div class="clue-line-green"></div>
    </div>
    <div class="clue-contact">
        <a href="#">v.goerner&#64;web.de</a>
        <img class="clue-github" (mouseover)="{img:'src=../../../assets/img/github_hover.png'}" src="../../../assets/img/github.png">
        <img class="clue-linkedin" src="../../../assets/img/linkedin.png">
        <div class="clue-line-white"></div>
    </div>
</div>
