@import '../../../shared/variables.scss';
@import '../../../shared/general.scss';

.project-test {
    position: absolute;
    top: 50px;
    left: 0;
    width: 1250px;
    display: flex;
    justify-content: space-between;
    background-image: url("../../../../assets/img/projects/background.png");
    background-size: cover;
    border: solid 1px $green;
    border-radius: 30px;
    padding: 60px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(150%);
    transition: all 125ms ease-in-out;
    gap: 24px;
}

.project-description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 540px;

    >.project-title {
        display: flex;
        flex-direction: column;

        >span {
            font-size: 128px;
            color: $green;
            font-family: 'karla';
            font-weight: 700;
        }

        >h1 {
            font-family: 'fira code';
            font-size: 56px;
            color: white;
        }
    }

    >h2 {
        font-family: 'fira code';
    }

    >.project-tech-list {
        display: flex;
        gap: 16px;

        >div {
            display: flex;
            gap: 6px;
        }
    }

    .project-technologie {
        font-family: 'karla';
        font-size: 16px;
        color: white;
    }

    >.project-btn {
        display: flex;
        gap: 32px;

        >a {
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 6px;
            cursor: pointer;

            >img {
                transition: all 125ms ease-in-out;
            }

            &:hover {
                >img {
                    transform: translateX(4px) translateY(-4px);
                }
            }
        }
    }
}

.project-example {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 40px;
    width: 520px;

    .project-preview {
        width: 520px;
        height: 370px;
        border-radius: 20px;
    }

    >.project-close {
        position: relative;
        cursor: pointer;

        >.project-close-btn-hover {
            position: absolute;
            opacity: 0;
            transition: all 125ms ease-in-out;
        }

        &:hover {
            >.project-close-btn-hover {
                opacity: 1;
            }
        }
    }

    >button {
        border: none;
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        align-items: center;
        gap: 20px;
        color: $green;
        position: absolute;
        bottom: 60px;
        cursor: pointer;

        >.project-next-project-hover {
            position: absolute;
            right: 10px;
            opacity: 0;
            transition: all 125ms ease-in-out;
        }

        &:hover {
            >img {
                transition: all 125ms ease-in-out;
                opacity: 0;
            }

            >.project-next-project-hover {
                transform: translateX(4px);
                opacity: 1;
            }
        }
    }
}

.show-details {
    opacity: 1;
    transform: translateX(0%);
}

@media (max-width: 1350px) {

    .project-test {
        display: flex;
        flex-direction: column-reverse;
        width: fit-content;
        padding: 40px;
    }

    .project-description {
        gap: 24px;
        margin-bottom: 50px;

        >.project-title {    
            >span {
                font-size: 80px;
            }
    
            >h1 {
                font-size: 56px;
            }
        }
    }

    .project-example {
        .project-preview {
            width: 100%;
            height: auto;
        }

        button {
            bottom: 30px;
        }
    }
}

@media (max-width: 700px) {
    .project-test {
        width: 360px;
        padding: 24px;
    }

    .project-description {
        width: 100%;
        gap: 24px;
        margin-bottom: 50px;

        >.project-title {    
            >span {
                font-size: 64px;
            }
    
            >h1 {
                font-size: 40px;
            }
        }

        h2 {
            font-size: 18px;
        }

        p {
            margin: 0;
            font-size: 16px;
        }

        >.project-tech-list {
            flex-wrap: wrap;
    
            >div {
                display: flex;
                gap: 6px;
            }
        }
    }

    .project-example {
        width: 100%;
        gap: 16px;

        .project-preview {
            width: 100%;
            height: auto;
        }

        button {
            bottom: 20px;
        }
    }
}

@media (max-width: 400px) {
    .project-test {
        width: 300px;
        padding: 16px;
    }

    .project-description {
        gap: 24px;
    }
}