@import '../shared/general.scss';

.projects-bg {
    background-color: #1C1C1C;
    margin: auto;
    width: 1440px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 100px;

    >.projects-headline {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    >.description-text {
        width: 450px;
    }
}

.projects-overview-box {
    width: 880px;
    border-top: solid 1px $green;

    >.projects-overview {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: solid 1px $green;
        padding: 40px 32px;
        position: relative;
        transition: all 125ms ease-in-out;

        img {
            opacity: 0;
        }

        >.projects-title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
        }

        >.description-text {
            >span {
                color: $green;
            }
        }

        >.projects-title-img {
            position: absolute;
            top: -45px;
            right: -400px;
            width: 300px;
        }

        >.projects-img-bg {
            position: absolute;
            top: -30px;
            right: -415px;
            width: 300px;
        }

        &:hover {
            background-color: #2F5B53;

            img {
                opacity: 1;
            }
        }
    }
}