@import '../shared/variables.scss';

.section-bg {
    width: 100vw;
    height: 100vh;
    padding: 0 96px;
    box-sizing: border-box;
}

.opacity-full {
    opacity: 1 !important;
}

.btn {
    display: flex;
    align-items: center;
    overflow-x: hidden;
    width: fit-content;
    height: 48px;
    border: solid 1px #FFFFFF;
    border-radius: 100px;
    background-color: #ffffff00;
    color: white;
    font-family: 'karla';
    font-size: 18px;
    padding: 0 24px;
    text-decoration: none;
    cursor: pointer;
    transition: all 125ms ease-in-out;

    span {
        cursor: pointer;
        transition: all 125ms ease-in-out;
    }

    &:hover {
        color: $green;
        border: solid 1px $green;

        span {
            animation: moveText 1.5s linear infinite;
        }
    }
}

@keyframes moveText {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    50% {
        transform: translateX(-150%);
        opacity: 0;
    }

    75% {
        transform: translateX(150%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.description-box {
    margin-top: 100px;
    width: 570px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    transition: all 125ms ease-in-out;
}

.description-text-box {
    padding: 32px;
    border: solid 1px #3DCFB6;
    border-radius: 30px;
    background-color: #3DCFB61A;
    display: flex;
    flex-direction: column;
    gap: 40px;
    transition: all 125ms ease-in-out;
}

.description-text {
    font-family: 'karla';
    font-size: 18px;
    color: white;
    transition: all 125ms ease-in-out;
}

.description-details {
    font-family: 'karla';
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    transition: all 125ms ease-in-out;
}

h1 {
    margin: 0;
    font-size: 64px;
    font-family: 'karla';
    color: #3DCFB6;
    transition: all 125ms ease-in-out;
}

h2 {
    font-family: 'karla';
    margin: 0;
    font-size: 24px;
    color: #3DCFB6;
    transition: all 125ms ease-in-out;
}

h3 {
    margin: 0;
    font-size: 24px;
    font-family: 'karla';
    color: $green;
    transition: all 125ms ease-in-out;
}

.horizontal-seperator {
    height: 1px;
    width: 100%;
    background-color: $green;
}


@media (max-width: 1200px) {

    .section-bg {
        padding: 0 80px;
    }
}

@media (max-width: 1000px) {

    .section-bg {
        padding: 0 48px;
    }
}

@media (max-width: 700px) {

    .section-bg {
        padding: 0 16px;
    }

    .btn {
        height: 40px;
        padding: 0 16px;
    }
}

@media (max-width: 700px) {

    .btn {
        height: 36px;
        padding: 0 4px;
        font-size: 16px;
    }
}