<section class="section-bg pp-bg">
    <div class="privacy-policy">
        <h1>{{ setPath().PRIVACYPOLICY.H1 }}</h1>
        <h2>{{ setPath().PRIVACYPOLICY.H2_1 }}</h2>
        <br>
        <h3>{{ setPath().PRIVACYPOLICY.H3_1 }}</h3>
        <br>
        <p>{{ setPath().PRIVACYPOLICY.TEXT1 }}</p>
        <br>
        <h3>{{ setPath().PRIVACYPOLICY.H3_2 }}</h3>
        <br>
        <p>
            <b>{{ setPath().PRIVACYPOLICY.B1 }}</b>
        </p>
        <br />
        <p>{{ setPath().PRIVACYPOLICY.TEXT2 }}</p>
        <br />
        <p>
            <b>{{ setPath().PRIVACYPOLICY.B2 }}</b>
        </p>
        <br />
        <p>{{ setPath().PRIVACYPOLICY.TEXT3 }}</p>
        <br />
        <p>{{ setPath().PRIVACYPOLICY.TEXT4 }}</p>
        <br />
        <p>
            <b>{{ setPath().PRIVACYPOLICY.B3 }}</b>
        </p>
        <br />
        <p>{{ setPath().PRIVACYPOLICY.TEXT5 }}</p>
        <br />
        <p>
            <b>{{ setPath().PRIVACYPOLICY.B4 }}</b>
        </p>
        <br>
        <p>{{ setPath().PRIVACYPOLICY.TEXT6 }}</p>
        <br>
        <h2>{{ setPath().PRIVACYPOLICY.H2_2 }}</h2>
        <br>
        <p>{{ setPath().PRIVACYPOLICY.TEXT7 }}</p>
        <br>
        <h3>{{ setPath().PRIVACYPOLICY.H3_3 }}</h3>
        <br>
        <p>{{ setPath().PRIVACYPOLICY.TEXT8 }}.</p>
        <br>
        <p>{{ setPath().PRIVACYPOLICY.TEXT9 }}</p>
        <br>
        <h2>{{ setPath().PRIVACYPOLICY.H2_3 }}</h2>
        <br>
        <h3>{{ setPath().PRIVACYPOLICY.H3_4 }}</h3>
        <br>
        <p>{{ setPath().PRIVACYPOLICY.TEXT10 }}</p>
        <br />
        <p>{{ setPath().PRIVACYPOLICY.TEXT11 }}</p>
        <br />
        <p>{{ setPath().PRIVACYPOLICY.TEXT12 }}</p>
        <br>
        <h3>{{ setPath().PRIVACYPOLICY.H3_5 }}</h3>
        <br>
        <p>{{ setPath().PRIVACYPOLICY.TEXT13 }}</p>
        <br />
        <p>{{ setPath().PRIVACYPOLICY.TEXT14 }}</p>
        <p>{{ setPath().PRIVACYPOLICY.TEXT15 }}</p>
        <p>{{ setPath().PRIVACYPOLICY.TEXT16 }}</p>
        <p>{{ setPath().PRIVACYPOLICY.TEXT17 }}</p>
        <p>{{ setPath().PRIVACYPOLICY.TEXT18 }}</p>
        <br/>
        <p>{{ setPath().PRIVACYPOLICY.TEXT19 }}</p>
        <br>
        <h3>{{ setPath().PRIVACYPOLICY.H3_6 }}</h3>
        <br>
        <p>{{ setPath().PRIVACYPOLICY.TEXT20 }}</p>
        <br>
        <h3>{{ setPath().PRIVACYPOLICY.H3_7 }}</h3>
        <br>
        <p>{{ setPath().PRIVACYPOLICY.TEXT21 }}</p>
        <br>
        <h3>{{ setPath().PRIVACYPOLICY.H3_8 }}</h3>
        <br>
        <p>{{ setPath().PRIVACYPOLICY.TEXT22 }}</p>
        <br>
        <h3>{{ setPath().PRIVACYPOLICY.H3_9 }}</h3>
        <br>
        <p>{{ setPath().PRIVACYPOLICY.TEXT23 }}</p>
        <br>
        <h3>{{ setPath().PRIVACYPOLICY.H3_10 }}</h3>
        <br>
        <p>{{ setPath().PRIVACYPOLICY.TEXT24 }}</p>
        <br>
        <h3>{{ setPath().PRIVACYPOLICY.H3_11 }}</h3>
        <br>
        <p>{{ setPath().PRIVACYPOLICY.TEXT25 }}</p>
        <br>
        <h3>{{ setPath().PRIVACYPOLICY.H3_12 }}</h3>
        <br>
        <p>{{ setPath().PRIVACYPOLICY.TEXT26 }}</p>
        <br>
        <h3>{{ setPath().PRIVACYPOLICY.H3_13 }}</h3>
        <br>
        <p>{{ setPath().PRIVACYPOLICY.TEXT27 }}</p>
        <br>
        <h3>{{ setPath().PRIVACYPOLICY.H3_14 }}</h3>
        <br>
        <p>{{ setPath().PRIVACYPOLICY.TEXT28 }}</p>
        <br />
        <p>{{ setPath().PRIVACYPOLICY.TEXT29 }}</p>
        <br />
        <p>{{ setPath().PRIVACYPOLICY.TEXT30 }}</p>
        <br />
        <p>{{ setPath().PRIVACYPOLICY.TEXT31 }}</p>
        <br />
        <p>{{ setPath().PRIVACYPOLICY.TEXT32 }}</p>
        <br />
        <p>{{ setPath().PRIVACYPOLICY.TEXT33 }}</p>
        <br />
        <h3>{{ setPath().PRIVACYPOLICY.H3_15 }}</h3>
        <p>{{ setPath().PRIVACYPOLICY.TEXT34 }}</p>
        <br />
        <p>{{ setPath().PRIVACYPOLICY.TEXT35 }}</p>
        <br />

        <p>{{ setPath().PRIVACYPOLICY.TEXT36 }}</p>
        <a href="https://www.e-recht24.de" target="_blank">https://www.e-recht24.de</a>
    </div>
</section>