<section id="projects" class="projects-bg section-bg">
    <div class="projects">
        <div class="projects-description">
            <div class="projects-headline">
                <h2>{{ this.setPath().PROJECTS.H3 }}</h2>
                <h1>{{ this.setPath().PROJECTS.H1 }}</h1>
            </div>
            <div class="description-text">
                <p>
                    {{ this.setPath().PROJECTS.TEXT1 }}
                </p>
            </div>
        </div>
        <div class="projects-preview" [class.show-preview]="showProjectDetails">
            <app-project-test [projectIndex]="loadIndex"></app-project-test>
        </div>
        <div class="projects-overview-box">
            @for (p of projects; track p; let i = $index) {
                <a href="#projects" class="projects-overview" (click)="setProjectData(i)">
                    <div class="projects-title">
                        <h3>{{ p.name }}</h3> <img src="../../assets/img/projects/arrow.png">
                    </div>
                    <div class="description-technologies">
                    @for (t of p.technologies; track t; let l = $index) {
                            @if (l > 0) {
                                <span>|</span>
                            }
                            {{ t }}
                        }
                    </div>
                    <img class="projects-img-bg" src="../../assets/img/projects/img_bg.png">
                    <img class="projects-title-img" src="{{ p.preview }}">
                </a>
            }
        </div>
    </div>
</section>