@import '../shared/general.scss';

.skills-bg {
    display: flex;
    justify-content: center;
    background-image: url("../../assets/img/skills/skills_bg.svg");
    background-size: cover;

    >.skills {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        max-width: 1440px;
        margin-top: 100px;
    }
}

.description-text-box {

    p {
        margin: 0;
    }

    >div {
        display: flex;
        gap: 8px;

        >h2 {
            font-family: 'fira code';
        }

        >.skills-h2 {
            color: white;
        }
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        overflow: hidden;

        span {
            transition: all 125ms ease-in-out;
        }

        &:hover {
            span {
                transform: translateX(-200%);
            }
        }
    }
}

.skills-technologies-overview {
    display: flex;
    flex-wrap: wrap;
    width: 630px;
    height: 430px;
    margin-top: 145px;
    gap: 72px;

    >.skills-technologie {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100px;
        height: 110px;
        font-family: 'fira code';
        font-size: 18px;
        color: white;
        text-align: center;
        gap: 8px;

        >img {
            width: 60px;
            height: 60px;
            transition: all 125ms ease-in-out;
        }

        &:hover {
            >img {
                transform: scale(1.1);
            }
        }
    }

    >.growth-mindset {
        position: relative;

        >.skills-intrests {
            width: 195px;
            height: 135px;
            position: absolute;
            left: -3px;
            bottom: 110px;
            opacity: 0;
            transition: all 125ms ease-in-out;
        }

        &:hover {
            cursor: pointer;
            color: $green;

            >.skills-intrests {
                opacity: 1;
            }
        }
    }
}

/* media compatibility */

@media (max-width: 1400px) {

    .section-bg {
        height: fit-content;
    }

    .description-box {
        margin-top: 0;
    }

    .skills-bg {
        >.skills {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 150px;
        }
    }

    .skills-technologies-overview {
        margin-top: 50px;

        .growth-mindset {    
            .skills-intrests {
                bottom: 110px;
            }
        }
    }
}

@media (max-width: 700px) {

    .description-box {
        width: 360px;

        h3 {
            font-size: 18px;
        }

        h2 {
            font-size: 20px;
        }

        .btn {
            font-size: 16px;
        }

        .description-text-box {
            gap: 24px;
            font-size: 16px;

            h1 {
                font-size: 56px;
            }
        }
    }

    .skills-technologies-overview {
        width: 360px;
        height: fit-content;
        gap: 24px;

        .skills-technologie {
            font-size: 16px;
        }

        .growth-mindset {    
            .skills-intrests {
                bottom: 110px;
            }
        }
    }
}

@media (max-width: 400px) {
    .description-box {
        width: 280px;
        padding: 24px;

        h2 {
            font-size: 15px;
        }

        .description-text-box {
            h1 {
                font-size: 40px;
            }
        }
    }

    .skills-technologies-overview {
        width: 280px;
        height: fit-content;
        gap: 16px;
        margin-top: 20px;

        .skills-technologie {
            font-size: 16px;
            width: 80px;
            height: 100px;
        }

        img {
            width: 32px;
            height: 32px;
        }

        .growth-mindset {    
            .skills-intrests {
                left: -12px;
                bottom: 100px;
            }
        }
    }
}