@import '../shared/general.scss';

.pp-bg {
    background-color: $gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    height: fit-content;
}

.privacy-policy {
    max-width: 1440px;

    h1 {
        margin-bottom: 32px;
    }

    a {
        text-decoration: none;
        color: white;
        font-family: 'karla';
    }

    p {
        margin: 0;
        font-size: 18px;
        color: white;
        font-family: 'karla';
    }
}


/* media compatibility */

@media (max-width: 900px) {
    
    .privacy-policy {
        width: 360px;

        h1 {
            font-size: 56px;
        }

        h3 {
            font-size: 20px;
        }
    
        a {
            font-size: 16px;
        }
    
        p {
            font-size: 16px;
        }
    }
}

@media (max-width: 400px) {
    
    .privacy-policy {
        width: 300px;

        h1 {
            font-size: 40px;
        }

        h3 {
            font-size: 20px;
        }
    
        a {
            font-size: 16px;
        }
    
        p {
            font-size: 16px;
        }
    }
}