<section id="skills" class="skills-bg section-bg">
    <div class="skills">
        <div class="description-box">
            <h3>{{ this.setPath().SKILLS.H3 }}</h3>
            <div class="description-text-box description-text">
                <h1>{{ this.setPath().SKILLS.H1 }}</h1>
                <p>
                    {{ this.setPath().SKILLS.TEXT1 }}
                </p>
                <div>
                    <h2 class="skills-h2">{{ this.setPath().SKILLS.H2CLASS }}</h2>
                    <h2>{{ this.setPath().SKILLS.H2 }}</h2>
                </div>
                <p>
                    {{ this.setPath().SKILLS.TEXT2 }}
                </p>
                <a href="#contact-me" class="btn"><span>{{ this.setPath().SKILLS.BTN }}</span></a>
            </div>
        </div>
        <div class="skills-technologies-overview">
            @for (t of technologieSource; track t; let i = $index) {
                <div class="skills-technologie">
                    <img src="{{ t.img }}">
                    <span>{{ t.name }}</span>
                </div>
            }
            <div class="skills-technologie growth-mindset">
                <div class="skills-intrests">
                        <span>{{ this.setPath().SKILLS.INTREST }}</span>
                        <img src="./assets/img/skills/intrests_tech.png" alt="technologies react and vue js">
                </div>
                <img src="../../assets/img/skills/growth_mindset.png">
                <span>{{ this.setPath().SKILLS.MINDSET }}</span>
            </div>
        </div>
    </div>
</section>