@import '../general.scss';
@import '../variables.scss';

.footer-bg {
    background-color: $gray;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    div {
        img {
            width: 30px;
            height: 80px;
        }
    }
}