<section class="footer-bg section-bg">
    <div class="footer">
        <div class="footer-logo">
            <div>
                <img src="../../../assets/img/footer/V.png">
                <img src="../../../assets/img/footer/I.png">
                <img src="../../../assets/img/footer/N.png">
                <img src="../../../assets/img/footer/C.png">
                <img src="../../../assets/img/footer/E.png">
                <img src="../../../assets/img/footer/N.png">
                <img src="../../../assets/img/footer/T.png">
            </div>
        </div>
        <div>
    
        </div>
        <div>
    
        </div>
    </div>
</section>
