@import '../general.scss';
@import '../variables.scss';

.footer-bg {
    background-color: $gray;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-family: 'karla';
        font-size: 16px;
        color: white;
    }

    .footer-logo-box {
        cursor: pointer;

        img {
            width: 180px;
            height: 50px;
        }

        .footer-logo-img {
            transition: all 125ms ease-in-out;
        }

        .footer-logo-hovered {
            position: absolute;
            opacity: 0;
            transition: all 125ms ease-in-out;
        }

        &:hover {
            .footer-logo-hovered {
                opacity: 1;
            }

            .footer-logo-img {
                opacity: 0;
            }
        }

    }
}