@import '../general.scss';
@import '../variables.scss';

.footer-bg {
    display: flex;
    justify-content: center;
    background-color: $gray;
    height: fit-content;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    max-width: 1440px;
    width: 1440px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    div {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-family: 'karla';
        font-size: 16px;
        color: white;
    }

    .footer-logo-box {
        cursor: pointer;

        img {
            width: 180px;
            height: 50px;
        }

        .footer-logo-img {
            transition: all 125ms ease-in-out;
        }

        .footer-logo-hovered {
            position: absolute;
            opacity: 0;
            transition: all 125ms ease-in-out;
        }

        &:hover {
            .footer-logo-hovered {
                opacity: 1;
            }

            .footer-logo-img {
                opacity: 0;
            }
        }
    }
}

.footer-copyright {
    display: flex;
    align-items: center;
    font-family: 'fira code';
    font-size: 18px;
    color: $green;

    img {
        width: 16px;
        height: 16px;
    }
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    >div {
        position: relative;

        >div {
            position: absolute;
            top: 7px;
            left: -10px;
            width: 6px;
            height: 6px;
            border-radius: 10px;
            background-color: $green;
            opacity: 0;
            transition: all 125ms ease-in-out;
        }

        &:hover {
            >div {
                opacity: 1;
            }
        }
    }

    a {
        color: white;
        text-decoration: none;
        font-family: 'karla';
        transition: all 125ms ease-in-out;

        &:hover {
            color: $green;
        }
    }
}