<section class="footer-bg section-bg">
    <div class="footer">
        <div class="footer-logo">
            <div class="footer-logo-box">
                <img class="footer-logo-img" src="../../../assets/img/footer/logo.png">
            </div>
            <div>
                <p>Web Developer</p>
                <p>Dresden Germany</p>
            </div>
        </div>
        <div class="footer-copyright">
            <p>
                <img src="../../../assets/img/footer/copyright.svg">
                Vincent Görner 2025
            </p>
        </div>
        <div class="footer-links">
            <div>
                <a href="https://github.com/A1exi0sD4rc">Github</a>
            </div>
            <div>
                <a href="#">LinkedIn</a>
            </div>
            <div>
                <a href="#contact-me">Email</a>
            </div>
            <div>
                <a href="#">Legal Notice</a>
            </div>
        </div>
    </div>
</section>